$light: #fff;
$black :#000;
$darkblue: #283C8C;
$blue:#1C85C8;
$bordergray: #00000029;
$shadowgray: #BEBEBE;
$darkgray:#828282;
$lightgreen:#F3F6FF;
$dark:#222222;
$midshadegray:#C5C5C5;
$babyblue:#1C85C833
